html,body{
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	font-size: 14px;
	color: #444;
}
.vm{
	width: 100%;
	height: calc(100% - 45px);
	display: flex;
	border-bottom: solid 1px #ddd;
}
.attrName{
	margin-top: 10px;
 	height: 24px;
 	width:200px;
    border-radius: 6px;
}

.left{
	display: flex;
	flex-direction: column;
	width: 70%;
	height: 100%;
	margin-top: 10px;
	padding: 10px;
	box-sizing: border-box;
	border-right: solid 1px #eee;
}
.attr-info{
	display: flex;
	flex-direction: column;
	width: 70%;
	height: 10%;
}


.right{
	padding: 10px;
	font-size: 12px;
	color: #888;
	
}
