#test1,#test2  {
   	height: 24px;
    border-radius: 6px;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 10px;
   } 
   .start-time {
 	font-family: "微软雅黑";
 	font-size: 14px;
 	margin-top: 10px;
 	margin-left: 10px;
 	
 }  