
html,body{
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	font-size: 14px;
	color: #444;
}
td,th{
	text-align: center;
	border: solid 1px #ddd;
	padding: 5px;
}
li{
	list-style: none;
}
button{
	background-color: #fff;
	border: none;
	padding: 3px 8px;
	border-radius: 3px;
	cursor: pointer;
}
.vm{
	width: 100%;
	height: calc(100% - 45px);
	display: flex;
	border-bottom: solid 1px #ddd;
}
.main{
	display: flex;
	flex-direction: column;
	width: 70%;
	height: 100%;
	padding: 10px;
	box-sizing: border-box;
	border-right: solid 1px #eee;
}
.main .function{
	display: flex;
	justify-content: space-between;
	height: 30px;
}
.main .function .senior,.main .function .junior{
	display: flex;
	align-items: center;
}
.main .function select{
	display: flex;
	align-items: center;
	padding: 2px;
	border-radius: 3px;
	height: 26px;
}

.parame{
	margin-top: 30px;
}
.parame table{
	border-collapse:collapse;
	width: 100%;
	border: solid 1px #ddd;
}
.parame-td{
	padding: 0;
}
.parame1,.parame2{
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	border:none;
	outline: none;
}


.instruction{
	padding: 10px;
	font-size: 12px;
	color: #888;
}
footer{
	width: 100%;
	height: 40px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 0 10px;
	box-sizing: border-box;
}
button.makesure{
	border: solid 1px #ccc;
	color: #f3f3f3;
	background-color: #007DDB;
	outline: none;
}
button.makesure:hover{
	background-color: #0000FF;
}

